/** 全局SCSS变量 */
:root {
  --jly-theme-color: #df2020;
  --jly-bg-color: #f6f6f6;
  --el-color-primary: #df2020;
  --el-color-primary-light-3: #e18f8f;
  --el-color-primary-light-9: #f6f0f0;
  --el-color-primary-light-7: #f6f0f0;
}

/* 主题色 */
$jly-theme-color: #df2020;
/* 背景颜色 */
$jly-bg-color: #f6f6f6;
/* elementPlus */
$--color-primary: #df2020;
